In [ ]:
Capstone Project - Python Fundamentals

In [ ]:
Task 1
There are three different tables as given above. Please make three dataframe in python
and save them as three .csv files. From Task 2 to Task 10, use the saved .csv files only.

In [1]:
import pandas as pd

# Data for Employee DataFrame
employee_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Name': ['John Alter', 'Alice Luxumberg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
    'Age': [25, 27, 29, 31, 30]
}

# Data for Seniority Level DataFrame
seniority_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Designation Level': [2, 2, 3, 2, 3]
}

# Data for Project DataFrame
project_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    'Cost': [1002000, 2000000, 4500000, 5500000, None, 680000, 400000, 350000, None, 300000, 2000000, 1000000, 3000000, 200000],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
}

# Create DataFrames
df_employee = pd.DataFrame(employee_data)
df_seniority = pd.DataFrame(seniority_data)
df_project = pd.DataFrame(project_data)

# Save DataFrames as CSV files
df_employee.to_csv('employee.csv', index=False)
df_seniority.to_csv('seniority_level.csv', index=False)
df_project.to_csv('project.csv', index=False)

print("CSV files saved successfully!")

CSV files saved successfully!

In [ ]:
Task 2
The cost column in the dataframe “Project” has some missing values. Your task is to
compute these missing values. Replace the missing values by running average. You
should use the “For” loop for this task.

In [11]:
import pandas as pd  # Importing the pandas library to work with dataframes

# Step 1: Read the project CSV file into a dataframe
df_project = pd.read_csv('project.csv')  # Reading the CSV file and storing it in df_project

# Step 2: Initialize variables for running total and count
running_total = 0  # Variable to keep track of the running total of 'Cost'
count = 0  # Variable to keep track of how many non-missing values are encountered

# Using a for loop to iterate over the rows of the dataframe
for index in range(len(df_project)):  # Loop through each row in df_project by index
    if pd.isna(df_project.at[index, 'Cost']):  # Check if the 'Cost' column has a missing value at the current index
        # Replace the missing value with the running average if count is greater than 0
        if count > 0:  # Ensure there's at least one non-missing value to calculate the average
            average_cost = running_total / count  # Calculate the running average
            df_project.at[index, 'Cost'] = average_cost  # Replace missing 'Cost' with the running average
    else:
        # If the 'Cost' is not missing, update the running total and count
        running_total += df_project.at[index, 'Cost']  # Add the current 'Cost' to the running total
        count += 1  # Increment the count of non-missing 'Cost' values

# Step 3: Set pandas display option to avoid scientific notation for large numbers
pd.set_option('display.float_format', '${:,.2f}'.format)  # Format the display of numbers to two decimal places

# Display the updated DataFrame with replaced missing values
print(df_project)  # Output the dataframe to the console

      ID     Project          Cost    Status
0   A001   Project 1 $1,002,000.00  Finished
1   A002   Project 2 $2,000,000.00   Ongoing
2   A003   Project 3 $4,500,000.00  Finished
3   A004   Project 4 $5,500,000.00   Ongoing
4   A005   Project 5 $3,250,500.00  Finished
5   A002   Project 6   $680,000.00    Failed
6   A005   Project 7   $400,000.00  Finished
7   A003   Project 8   $350,000.00    Failed
8   A001   Project 9 $2,061,714.29   Ongoing
9   A003  Project 10   $300,000.00  Finished
10  A001  Project 11 $2,000,000.00    Failed
11  A004  Project 12 $1,000,000.00   Ongoing
12  A004  Project 13 $3,000,000.00  Finished
13  A005  Project 14   $200,000.00  Finished

In [ ]:
Task 3
Split the name column in the Employee dataframe into two new columns “First Name”,
and “LastName” and remove the older “name” column

In [12]:
import pandas as pd  # Import the pandas library to work with dataframes

# Step 1: Read the employee CSV file into a dataframe
df_employee = pd.read_csv('employee.csv')  # Load the CSV file 'employee.csv' into df_employee dataframe

# Step 2: Split the 'Name' column into 'First Name' and 'Last Name'
# Using str.split() to split the 'Name' column into two columns: 'First Name' and 'Last Name'
# n=1 ensures the split occurs only on the first space found in the 'Name' string
df_employee[['First Name', 'Last Name']] = df_employee['Name'].str.split(' ', n=1, expand=True)

# Step 3: Drop the original 'Name' column from the dataframe
df_employee.drop(columns=['Name'], inplace=True)  # Remove the 'Name' column after splitting it into two new columns

# Display the updated DataFrame with 'First Name' and 'Last Name' columns
print(df_employee)  # Output the dataframe to the console

     ID Gender     City  Age First Name  Last Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

In [ ]:
Task 4
Join all three dataframes in one single dataframe. Name it “Final”

In [13]:
import pandas as pd  # Importing the pandas library to work with dataframes

# Step 1: Read the updated CSV files into dataframes
df_employee = pd.read_csv('employee_updated.csv')  # Load employee data
df_seniority = pd.read_csv('seniority_level.csv')  # Load seniority level data
df_project = pd.read_csv('project_updated.csv')  # Load project data

# Step 2: Remove duplicates from the employee and seniority DataFrames based on 'ID' column
df_employee = df_employee.drop_duplicates(subset=['ID'])  # Remove duplicate rows in employee data
df_seniority = df_seniority.drop_duplicates(subset=['ID'])  # Remove duplicate rows in seniority data

# Step 3: Ensure the 'Cost' column in the project DataFrame is treated as a float
# Convert the 'Cost' column to numeric values, coercing any errors for non-numeric entries
df_project['Cost'] = pd.to_numeric(df_project['Cost'], errors='coerce')

# Step 4: Aggregate the project DataFrame to avoid duplicates per 'ID'
df_project_agg = df_project.groupby('ID').agg({
    'Project': ', '.join,  # Join all project names into a single string for each ID
    'Cost': lambda x: ', '.join(f'${v:,.2f}' for v in x.dropna()),  # Format 'Cost' as currency and join into a string
    'Status': ', '.join  # Join all statuses into a single string for each ID
}).reset_index()  # Reset index to make 'ID' a regular column

# Step 5: Merge the employee and seniority DataFrames on 'ID'
merged_df = pd.merge(df_employee, df_seniority, on='ID', how='inner')  # Perform inner join on 'ID'

# Merge the result with the aggregated project DataFrame
final_df = pd.merge(merged_df, df_project_agg, on='ID', how='inner')  # Perform inner join on 'ID' with the aggregated project data

# Display the final merged DataFrame
print(final_df)  # Output the final dataframe to the console

     ID Gender     City  Age First Name  Last Name  Designation Level  \
0  A001      M    Paris   25       John      Alter                  2
1  A002      F   London   27      Alice  Luxumberg                  2
2  A003      M   Berlin   29        Tom  Sabestine                  3
3  A004      F  Newyork   31       Nina      Adgra                  2
4  A005      F   Madrid   30        Amy      Johny                  3

                             Project  \
0   Project 1, Project 9, Project 11
1               Project 2, Project 6
2   Project 3, Project 8, Project 10
3  Project 4, Project 12, Project 13
4   Project 5, Project 7, Project 14

                                          Cost                        Status
0  $1,002,000.00, $2,061,714.29, $2,000,000.00     Finished, Ongoing, Failed
1                   $2,000,000.00, $680,000.00               Ongoing, Failed
2      $4,500,000.00, $350,000.00, $300,000.00    Finished, Failed, Finished
3  $5,500,000.00, $1,000,000.00, $3,000,000.00    Ongoing, Ongoing, Finished
4      $3,250,500.00, $400,000.00, $200,000.00  Finished, Finished, Finished

In [ ]:
Task 5
Add a new bonus column in the Final dataframe. Give a 5% bonus concerning project 
cost only to employees who have finished the projects.

In [5]:
import pandas as pd  # Import the pandas library to work with dataframes

# Assuming the previous code for merging DataFrames has already been executed

# Step 1: Read the updated CSV files into dataframes
df_employee = pd.read_csv('employee_updated.csv')  # Load employee data
df_seniority = pd.read_csv('seniority_level.csv')  # Load seniority level data
df_project = pd.read_csv('project_updated.csv')  # Load project data

# Step 2: Remove duplicates from the employee and seniority DataFrames
df_employee = df_employee.drop_duplicates(subset=['ID'])  # Remove duplicate rows in employee data based on 'ID'
df_seniority = df_seniority.drop_duplicates(subset=['ID'])  # Remove duplicate rows in seniority data based on 'ID'

# Step 3: Clean and convert the 'Cost' column to numeric in df_project
# Replace '$' and ',' in the 'Cost' column and convert it to numeric values
df_project['Cost'] = pd.to_numeric(df_project['Cost'].replace({r'\$': '', r',': ''}, regex=True), errors='coerce')

# Step 4: Aggregate the project DataFrame
# Group by 'ID' and aggregate 'Project', 'Cost', and 'Status' columns
df_project_agg = df_project.groupby('ID').agg({
    'Project': ', '.join,  # Join multiple project names into a single string
    'Cost': lambda x: ', '.join(f'${v:,.2f}' for v in x.dropna()),  # Format costs as currency and join into a string
    'Status': ', '.join  # Join multiple statuses into a single string
}).reset_index()  # Reset the index to make 'ID' a regular column

# Step 5: Merge the employee and seniority DataFrames on 'ID'
merged_df = pd.merge(df_employee, df_seniority, on='ID', how='inner')  # Perform inner join on 'ID'

# Merge the result with the aggregated project DataFrame
final_df = pd.merge(merged_df, df_project_agg, on='ID', how='inner')  # Perform inner join on 'ID' with the aggregated project data

# Step 6: Initialize the Bonus column with zeros
final_df['Bonus'] = 0.0  # Create a new 'Bonus' column and initialize it with 0.0

# Step 7: Calculate the Bonus for employees who have finished projects
for index, row in final_df.iterrows():  # Iterate over each row in the final_df dataframe
    # Split the costs and statuses into separate lists for processing
    costs = [cost.replace('$', '').replace(',', '') for cost in row['Cost'].split(', ')]  # Remove $ and commas from cost and split it into a list
    statuses = row['Status'].split(', ')  # Split the 'Status' column into a list
    
    # Calculate the total cost for finished projects only
    total_finished_cost = sum(float(cost) for cost, status in zip(costs, statuses) if status.strip() == 'Finished')  # Sum up the cost where the status is 'Finished'
    
    # Calculate the bonus as 5% of the total finished project cost
    final_df.at[index, 'Bonus'] = total_finished_cost * 0.05  # Assign the calculated bonus to the 'Bonus' column for that employee

# Step 8: Format the Bonus column as currency
final_df['Bonus'] = final_df['Bonus'].apply(lambda x: f'${x:,.2f}')  # Format the 'Bonus' values as currency (e.g., $1,000.00)

# Display the updated Final DataFrame with the 'Bonus' column formatted
print(final_df)  # Output the final dataframe to the console

     ID Gender     City  Age First Name  Last Name  Designation Level  \
0  A001      M    Paris   25       John      Alter                  2
1  A002      F   London   27      Alice  Luxumberg                  2
2  A003      M   Berlin   29        Tom  Sabestine                  3
3  A004      F  Newyork   31       Nina      Adgra                  2
4  A005      F   Madrid   30        Amy      Johny                  3

                             Project  \
0   Project 1, Project 9, Project 11
1               Project 2, Project 6
2   Project 3, Project 8, Project 10
3  Project 4, Project 12, Project 13
4   Project 5, Project 7, Project 14

                                          Cost                        Status  \
0  $1,002,000.00, $2,061,714.29, $2,000,000.00     Finished, Ongoing, Failed
1                   $2,000,000.00, $680,000.00               Ongoing, Failed
2      $4,500,000.00, $350,000.00, $300,000.00    Finished, Failed, Finished
3  $5,500,000.00, $1,000,000.00, $3,000,000.00    Ongoing, Ongoing, Finished
4      $3,250,500.00, $400,000.00, $200,000.00  Finished, Finished, Finished

         Bonus
0   $50,100.00
1        $0.00
2  $240,000.00
3  $150,000.00
4  $192,525.00

In [ ]:
Task 6
Demote the designation level by 1, whose projects have status “fail”. Delete the
employees record whose designation level is above 4.

In [6]:
import pandas as pd  # Import the pandas library to work with dataframes

# Assuming final_df is already created from previous tasks and contains 'Designation Level' and 'Status' columns

# Step 1: Demote the designation level by 1 for employees with failed projects
for index, row in final_df.iterrows():  # Iterate over each row in the final_df dataframe
    # Split the 'Status' column into a list of statuses for each project
    statuses = row['Status'].split(', ')
    
    # Check if any of the statuses are "Failed"
    if 'Failed' in [status.strip() for status in statuses]:  # Strip spaces and check if any status is 'Failed'
        # Demote the designation level by 1 for employees with failed projects
        current_level = row['Designation Level']  # Get the current designation level
        
        # Set the new designation level, ensuring it does not drop below 1
        final_df.at[index, 'Designation Level'] = max(current_level - 1, 1)  # Use max to prevent the level from going below 1

# Step 2: Remove records where the designation level is above 4
# Filter the dataframe to keep only rows where 'Designation Level' is less than or equal to 4
final_df = final_df[final_df['Designation Level'] <= 4]

# Display the updated Final DataFrame after Task 6
print(final_df)  # Output the final dataframe to the console

     ID Gender     City  Age First Name  Last Name  Designation Level  \
0  A001      M    Paris   25       John      Alter                  1
1  A002      F   London   27      Alice  Luxumberg                  1
2  A003      M   Berlin   29        Tom  Sabestine                  2
3  A004      F  Newyork   31       Nina      Adgra                  2
4  A005      F   Madrid   30        Amy      Johny                  3

                             Project  \
0   Project 1, Project 9, Project 11
1               Project 2, Project 6
2   Project 3, Project 8, Project 10
3  Project 4, Project 12, Project 13
4   Project 5, Project 7, Project 14

                                          Cost                        Status  \
0  $1,002,000.00, $2,061,714.29, $2,000,000.00     Finished, Ongoing, Failed
1                   $2,000,000.00, $680,000.00               Ongoing, Failed
2      $4,500,000.00, $350,000.00, $300,000.00    Finished, Failed, Finished
3  $5,500,000.00, $1,000,000.00, $3,000,000.00    Ongoing, Ongoing, Finished
4      $3,250,500.00, $400,000.00, $200,000.00  Finished, Finished, Finished

         Bonus
0   $50,100.00
1        $0.00
2  $240,000.00
3  $150,000.00
4  $192,525.00

In [ ]:
Task 7
Add “Mr.” and “Mrs.” to the first name column and drop the gender column.

In [7]:
import pandas as pd  # Import the pandas library to work with dataframes

# Assuming final_df is already created from previous tasks

# Step 1: Add "Mr." or "Mrs." to the First Name column
# Use 'apply' to modify the 'First Name' based on the value in the 'Gender' column
final_df['First Name'] = final_df.apply(
    lambda row: 'Mr. ' + row['First Name'] if row['Gender'] == 'M' else 'Mrs. ' + row['First Name'], axis=1
    # Add 'Mr.' prefix if gender is 'M', else add 'Mrs.' for other gender ('F')
)

# Step 2: Drop the Gender column
final_df = final_df.drop(columns=['Gender'])  # Remove the 'Gender' column as it is no longer needed

# Display the updated Final DataFrame after Task 7
print(final_df)  # Output the final dataframe to the console

     ID     City  Age  First Name  Last Name  Designation Level  \
0  A001    Paris   25    Mr. John      Alter                  1
1  A002   London   27  Mrs. Alice  Luxumberg                  1
2  A003   Berlin   29     Mr. Tom  Sabestine                  2
3  A004  Newyork   31   Mrs. Nina      Adgra                  2
4  A005   Madrid   30    Mrs. Amy      Johny                  3

                             Project  \
0   Project 1, Project 9, Project 11
1               Project 2, Project 6
2   Project 3, Project 8, Project 10
3  Project 4, Project 12, Project 13
4   Project 5, Project 7, Project 14

                                          Cost                        Status  \
0  $1,002,000.00, $2,061,714.29, $2,000,000.00     Finished, Ongoing, Failed
1                   $2,000,000.00, $680,000.00               Ongoing, Failed
2      $4,500,000.00, $350,000.00, $300,000.00    Finished, Failed, Finished
3  $5,500,000.00, $1,000,000.00, $3,000,000.00    Ongoing, Ongoing, Finished
4      $3,250,500.00, $400,000.00, $200,000.00  Finished, Finished, Finished

         Bonus
0   $50,100.00
1        $0.00
2  $240,000.00
3  $150,000.00
4  $192,525.00

In [ ]:
Task 8
Promote designation level by 1 for the employees whose age is more than 29 years using
IF condition.

In [8]:
import pandas as pd  # Import the pandas library to work with dataframes

# Assuming final_df is already created from previous tasks

# Step 1: Promote designation level by 1 for employees older than 29
for index, row in final_df.iterrows():  # Iterate over each row in the final_df dataframe
    if row['Age'] > 29:  # Check if the employee's age is greater than 29
        # Promote the designation level by 1
        final_df.at[index, 'Designation Level'] += 1  # Increase the designation level by 1

# Display the updated Final DataFrame after Task 8
print(final_df)  # Output the final dataframe to the console

     ID     City  Age  First Name  Last Name  Designation Level  \
0  A001    Paris   25    Mr. John      Alter                  1
1  A002   London   27  Mrs. Alice  Luxumberg                  1
2  A003   Berlin   29     Mr. Tom  Sabestine                  2
3  A004  Newyork   31   Mrs. Nina      Adgra                  3
4  A005   Madrid   30    Mrs. Amy      Johny                  4

                             Project  \
0   Project 1, Project 9, Project 11
1               Project 2, Project 6
2   Project 3, Project 8, Project 10
3  Project 4, Project 12, Project 13
4   Project 5, Project 7, Project 14

                                          Cost                        Status  \
0  $1,002,000.00, $2,061,714.29, $2,000,000.00     Finished, Ongoing, Failed
1                   $2,000,000.00, $680,000.00               Ongoing, Failed
2      $4,500,000.00, $350,000.00, $300,000.00    Finished, Failed, Finished
3  $5,500,000.00, $1,000,000.00, $3,000,000.00    Ongoing, Ongoing, Finished
4      $3,250,500.00, $400,000.00, $200,000.00  Finished, Finished, Finished

         Bonus
0   $50,100.00
1        $0.00
2  $240,000.00
3  $150,000.00
4  $192,525.00

In [ ]:
Task 9
Add the cost of all projects for each Employee and save it in new dataframe
“TotalProjCost” with three columns ID, First Name, and Total cost

In [9]:
import pandas as pd  # Import the pandas library to work with dataframes

# Assuming final_df is already created from previous tasks

# Step 1: Initialize a list to store total costs for each employee
total_proj_costs = []  # This list will hold dictionaries containing employee ID, First Name, and Total Cost

# Step 2: Calculate the total project costs for each employee
for index, row in final_df.iterrows():  # Iterate over each row in the final_df dataframe
    # Split the costs into a list, removing the '$' and ',' characters for conversion to float
    costs = [float(cost.replace('$', '').replace(',', '')) for cost in row['Cost'].split(', ')]
    
    # Calculate the total cost for this employee by summing the costs
    total_cost = sum(costs)
    
    # Append the ID, First Name, and Total Cost to the list
    total_proj_costs.append({
        'ID': row['ID'],  # Employee ID
        'First Name': row['First Name'],  # Employee First Name
        'Total Cost': total_cost  # Total cost of projects for the employee
    })

# Step 3: Create a new DataFrame for Total Project Costs
TotalProjCost = pd.DataFrame(total_proj_costs)  # Convert the list of dictionaries into a DataFrame

# Step 4: Format the Total Cost as currency (optional)
TotalProjCost['Total Cost'] = TotalProjCost['Total Cost'].apply(lambda x: f'${x:,.2f}')  # Format Total Cost to currency format

# Display the new DataFrame
print(TotalProjCost)  # Output the TotalProjCost DataFrame to the console

     ID  First Name     Total Cost
0  A001    Mr. John  $5,063,714.29
1  A002  Mrs. Alice  $2,680,000.00
2  A003     Mr. Tom  $5,150,000.00
3  A004   Mrs. Nina  $9,500,000.00
4  A005    Mrs. Amy  $3,850,500.00

In [ ]:
Task 10
Print all the employee details whose city name contains the letter “o” in it.

In [10]:
import pandas as pd  # Import the pandas library to work with DataFrames

# Assuming final_df is already created from previous tasks

# Step 1: Filter employees whose city contains the letter "o"
filtered_employees = final_df[final_df['City'].str.contains('o', case=False)]  # Use case=False for case-insensitive search

# Step 2: Print the filtered DataFrame
print(filtered_employees)  # Output the filtered employees to the console

     ID     City  Age  First Name  Last Name  Designation Level  \
1  A002   London   27  Mrs. Alice  Luxumberg                  1
3  A004  Newyork   31   Mrs. Nina      Adgra                  3

                             Project  \
1               Project 2, Project 6
3  Project 4, Project 12, Project 13

                                          Cost                      Status  \
1                   $2,000,000.00, $680,000.00             Ongoing, Failed
3  $5,500,000.00, $1,000,000.00, $3,000,000.00  Ongoing, Ongoing, Finished

         Bonus
1        $0.00
3  $150,000.00